{
    "tabWidth": 2,
    "printWidth": 80,
    "semi": false,
    "trailingComma": "none",
    "endOfLine": "auto",
    "singleQuote": true,
    "parser": "flow",
    "overrides": [
        {
            "files": "*.scss",
            "options": {
                "parser": "scss"
            }
        }
    ]
}