@use '../../scss/abstracts/variables' as *;

.dashboard {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .report-dash {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
    justify-content: space-between;
    gap: 1rem;

    .report-item {
      width: 49%;
    }

    @media (max-width: 940px) {
      flex-direction: column;
      align-items: center;

      .report-item {
        width: 100%;
        justify-content: center;
      }
    }
  }

  .dashboard-icon {
    font-size: 30px;
  }

  .placed {
    color: var(--rs-green-500);
  }

  .recruiter {
    color: $primary-color;
  }

  .total {
    color: $secondary-color;
  }
}