@use '../../../scss/abstracts/variables' as *;

.header {
  background-color: $color-white;
  display: flex;
  align-items: center;
  border-bottom: 2px solid $border-color;

  &__logo {
    height: 2rem;
    padding: 0.8rem;
    background-color: $color-white;
  }
  &__user {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding-right: 2rem;
  }
}
