.ie-cell {
    display: inline-block;
    padding: 4px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    font-weight: bold;
    font-size: 10px;
    
    &.income {
      color: var(--rs-green-500);
      border-color:var(--rs-green-500);
    }
  
    &.expense {
      color: var(--rs-color-red);
      border-color: var(--rs-color-red);
    }
  
    &.other {
      color: black;
      border-color: black;
    }
  }
  