.status-badge {
  padding: 4px;
  border-radius: 10px;
  display: inline-block;
  text-transform: capitalize;
  font-size: 10px;

  &.status-payment_cancelled {
    color: var(--rs-color-red);
    border: 1px solid var(--rs-color-red);
  }

  &.status-payment_initiated {
    color: var(--rs-color-blue);
    border: 1px solid var(--rs-color-blue);
  }

  &.status-payment_completed {
    color: var(--rs-green-500);
    border: 1px solid var(--rs-green-500);
  }

  &.status-payment_failed {
    color: var(--rs-orange-500);
    border: 1px solid var(--rs-orange-500);
  }

  &.status-premium_page_opened {
    color: var(--rs-yellow-500);
    border: 1px solid var(--rs-yellow-500);
  }

  &.status-payment_pending { 
    color: var(--rs-gray-700);
    border: 1px solid var(--rs-gray-700);
  }
}