.status-cell {
    display: flex;
    align-items: center;

    .verified {
        color: white;
        background-color: var(--rs-green-500);
        padding: 5px;
        border-radius: 5px;
    }
    .unverified{
        color: white;
        background-color: var(--rs-gray-500);
        padding: 5px;
        border-radius: 5px;
    }

    .status-cell-div {
        display: flex;
        align-items: center;
        gap: 5px;
        .status-icon{
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
}