.chart-screen {
  background-color: white;
  padding: 10px;
  width: 100%;
  margin: 1rem auto;
  border: 1px solid var(--rs-gray-300);
  max-width: 47%;
  border-radius: 8px;
  transition:
    box-shadow 0.3s ease,
    border-color 0.3s ease;

  .chart-screen-title {
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    gap: 25%;
    font-weight: 600;
    align-items: center;
    font-size: 1rem;
    .chart-screen-icon {
      width: 30px;
    }
  }
  .rs-progress-circle {
    width: 38%;
    margin: 1rem auto;
  }
  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
