.page-heading {
  display: inline-flex;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  align-items: baseline;

  &__title {
    font-size: 20px;
    font-weight: 600;
  }

  &__description {
    margin-left: 2rem;
    display: inline-flex;
  }
}
