@use "sass:color";

// Dynamic Colors - Primary and Secondary
$primary-color: #2b478b; // Define your primary color (blue)
$secondary-color: #f99746; // Define your secondary color (orange)

// Text Colors (Dynamic)
$text-color-primary: #304d70;
$text-color-secondary: #181818;
$text-color-lighter: #829cbb;
$dropdown-divider-color: color.adjust($primary-color, $lightness: 90%);
$text-color-lighter-2: #4b6c94;
$text-color-heading: #243757;
$text-color-content: #417fc9;
$text-light-grey: #cbd1ea;
$text-dark-grey: #a0aec3;
$text-color-light: #464f60;
$text-color-lighter-3: #6e759f;
$text-color-background: #f8f9fa;
$text-color-helper: #496381;
$text-color-green: #5ea650;
$text-color-orange: #ff9e3d;
$text-color-green-2: #e3ffe7;

// Button Colors (Dynamic)
$button-color-primary-gradient-start: color.adjust($primary-color, $lightness: 10%);
$button-color-primary: $primary-color;
$button-background-color-subtle: color.adjust($primary-color, $lightness: 85%);
$button-background-color-lighter: color.adjust($primary-color, $lightness: 60%);
$button-color-subtle: color.adjust($primary-color, $lightness: 30%);
$button-background-color-primary: $primary-color;
$button-background-color-secondary: $secondary-color;
$button-color-primary-default: color.adjust($primary-color, $lightness: 75%);
$button-border-color: color.adjust($primary-color, $lightness: 70%);

// Background Colors (Dynamic)
$background-color-darker: #e9edf5;
$background-color-lighter-200: #f3f6f8;
$background-color-lighter: color.adjust($primary-color, $lightness: 50%);
$background-color-darker-2: color.adjust($primary-color, $lightness: -20%);

// Divider and Border Colors (Dynamic)
$divider-color: var(--rs-gray-400);
$toolbar-border-bottom-color: color.adjust($primary-color, $lightness: 85%);
$border-color: color.adjust($primary-color, $lightness: 50%);
$border-color-darker: color.adjust($primary-color, $lightness: -30%);

// Additional Variables
$color-white: #fff;
$color-black: #000;