.job-details {
  background: #ffffff;
  border-radius: 4px;

  h2 {
    color: #333;
    margin-bottom: 10px;
  }

  p {
    margin: 5px 0;
    color: #555;
  }
  .job-details {
    height: calc(100vh - 15.5rem);
    overflow: auto;
    padding: 1rem 2rem;
  }
  pre {
    background: #eef;
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap;
  }

  .active {
    color: green;
    font-weight: bold;
  }

  .inactive {
    color: red;
    font-weight: bold;
  }

  .btn-container {
    display: flex;
    margin-top: 10px;
    gap: 10px;
  }
}
