@use '../../../../scss/abstracts/variables' as *;

.notification-popover {
    min-width: 250px;
    min-height: 100px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .popover-header {
        font-weight: bold;
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    .no-notifications {
        text-align: center;
        padding-top: 1rem;
    }

    .notification-list {
        list-style: none;
        padding: 0;
        margin: 0;
        height: 250px;
        overflow: auto;

        .notification-item {
            padding: 10px;
            border-bottom: 1px solid #eee;
            display: flex;
            flex-direction: column;

            &:last-child {
                border-bottom: none;
            }

            .notification-message {
                color: $color-black;
            }

            .notification-time {
                color: #888;
            }
        }
    }
}

.notification-icon {
    padding: 0px 7px !important;
    font-size: 22px;

    .rs-badge-content,
    .rs-badge-independent {
        position: relative;
        left: 78%;
        bottom: 0.2rem;
    }

    &:hover {
        background-color: transparent !important;
    }

    &:active {
        background-color: transparent !important;
    }

    &:focus {
        background-color: transparent !important;
    }
}