@use '../../../scss/abstracts/' as *;
.uploader {
  .rs-uploader-trigger-btn{
    border: $color-white !important;
  }
  .rs-uploader-trigger-btn:hover {
    border: $color-white !important;
  }
  .uploader-btn {
    width: 100%;
    height: 100%;
    &:hover {
      color: $button-background-color-primary !important;
    }
  }
}